.button {
  width: 200px;
  height: 45px;
  background: #dec377;
  border-radius: 2px;
  border: 1px solid#dec377;
  font-family: Commissioner, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}
