@media (max-width: 1200px) {
  .wrapper {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.clmaxWidth670 {
  max-width: 670px;
}

.clMargin {
  margin: 100px 0px 0px 0px;
}

.buttonMargin {
  margin: 20px 0px 0px 0px;
}
