.background {
  margin-top: -5px;
  background: #e5e5e5;
}
.wrapperContent {
  margin: 0 auto;
  max-width: 1170px;
}

.rectangles {
  height: 100%;
  position: relative;
  top: -80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 285px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
  margin: 10px;
}

@media (max-width: 1093px) {
  .rectangles {
    width: 700px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 694px) {
  .rectangles {
    max-width: 300px;
  }
  .rec {
    max-width: 100%;
    height: 250px;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 645px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 100px;
  padding: 50px 0px 60px 70px;
}

.container div {
  z-index: 2;
}

.container img {
  position: absolute;
  right: 0px;
}

@media (max-width: 1209px) {
  .container {
    margin: 20px 20px 100px 20px;
  }
  .container div {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.438);
  }
}

@media (max-width: 636px) {
  .container {
    margin: 20px 20px 100px 20px;
    padding: 20px 0px 20px 20px;
  }
  .container div {
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
    max-width: 500px;
  }
  .container img {
    display: none;
  }
}

@media (max-width: 488px) {
  .container div {
    z-index: 2;
    max-width: 270px;
  }
  .container {
    margin: 20px 20px 100px 20px;
    height: 930px;
  }
}

.mintitle {
  padding-bottom: 10px;
  font-size: 28px;
}

.TextTitle {
  font-size: 28px;
}

.boxRectangle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-bottom: 35px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 480px;
  padding-top: 30px;
}

.button {
  width: 100%;
}

@media (max-width: 1202px) {
  .boxRectangle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .box {
    margin-left: 15px;
  }
  .mintitle {
    padding-left: 20px;
  }
  .button {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 814px) {
  .boxRectangle {
    max-width: 400px;
    height: 500px;
    overflow-x: scroll;
    margin: 0 auto;
  }
  .box {
    width: 400px;
  }
  .button {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 0px;
  }
}

@media (max-width: 500px) {
  .boxRectangle {
    max-width: 320px;
    height: 360px;
    overflow-x: scroll;
    margin: 0 auto;
  }
  .box {
    width: 300px;
  }
  .button {
    padding-top: 25px;
  }
}

.textTwo {
  margin-top: 100px;
  height: 270px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .textTwo {
    display: none;
  }
}

.whiteBox {
  position: relative;
  top: -120px;
  left: 0px;
  background-color: #ffffff;
  height: 1345px;
  z-index: 0;
}

.wrapperReviews {
  height: 1260px;
  max-width: 1170px;
  margin: 0 auto;
  border: 1px solid rgb(255, 255, 255);
  z-index: 3;
}

.reviews {
  padding-top: 30px;
}

.containerReviews {
  margin-top: 180px;
  height: 1080px;
}

.reviews {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.cercles {
  width: 40px;
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
}

.cercles div:nth-child(1) {
  background: #dec377;
}

.cercle {
  height: 10px;
  width: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;
}

.arrows {
  width: 80px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.textThree {
  margin-top: 105px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.textThree div:nth-child(2) {
  min-width: 200px;
  height: 45px;
  border: 2px solid #dec377;
  color: #dec377;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  font-family: Commissioner, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
}

.companys img {
  filter: grayscale(100%);
}

.companys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

@media (max-width: 1145px) {
  .reviews {
    justify-content: space-evenly;
  }

  .panel button {
    margin-left: 20px;
  }
  .cercles {
    margin: 0;
  }
  .textThree {
    margin: 50px 20px;
  }
  .whiteBox {
    height: 1100px;
  }

  .containerReviews {
    height: 800px;
  }
}

@media (max-width: 684px) {
  .whiteBox {
    height: 1600px;
  }

  .containerReviews {
    height: 1250px;
  }
}

@media (max-width: 646px) {
  .panel {
    justify-content: center;
  }
  .textThree div:nth-child(2) {
    margin-top: 20px;
  }
  .cercles {
    display: none;
  }
  .arrows {
    display: none;
  }
  .textThree {
    flex-direction: column;
  }
  .whiteBox {
    height: 1720px;
  }
}

.imgSlider {
  z-index: 1;
}

.imgSlider img {
  object-fit: contain !important;
}

.whiteBoxTwo {
  background-color: #ffffff;
  height: 700px;
}

@media (max-width: 923px) {
  .whiteBoxTwo {
    height: 1100px;
  }
}

@media (max-width: 483px) {
  .whiteBoxTwo {
    height: 1400px;
  }
}

.clWidth670 {
  max-width: 670px;
}

.clWidth370 {
  z-index: 3;
  width: 370px;
}

.clMaxWidth700 {
  max-width: 700px;
}

.clWidth520 {
  width: 520px;
  font-size: 28px;
  line-height: 40px;
}

.clmargin10 {
  margin-left: 10px;
  font-size: 28px;
}
