.wrapperHeader {
  margin: 0 auto;
  max-width: 1170px;
  height: 150px;
}

.boxOne {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 0px 0px;
}

.lenguage {
  display: flex;
}

.lenguage div:nth-child(1) {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 0px 13px;
}

.lenguage div:nth-child(2) {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 70px;
  background: url(./img/Vector.svg) 60px 10px no-repeat;
  color: rgba(0, 0, 0, 0.8);
}

.view {
  margin-left: 180px;
  width: 32px;
  height: 25px;
  background: url(./img/view.svg) no-repeat;
}

.phoneNumber {
  display: flex;
  font-family: Commissioner, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 3px;
}

.phoneNumber div:nth-child(1) {
  width: 220px;
  background: url(./img/A1.svg) 140px -1px no-repeat,
    url(./img/phone.svg) 165px -1px no-repeat,
    url(./img/viber.svg) 193px -0.5px no-repeat;
}

.phoneNumber div:nth-child(2) {
  width: 220px;
  background: url(./img/mts.svg) 170px -1px no-repeat;
}

.boxTwo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 0px;
}

.boxTwo img {
  padding: 0px 10px;
}

.menu {
  display: flex;
  font-family: Commissioner;
  color: rgba(0, 0, 0, 0.75);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.menu div {
  width: 80px;
  padding-left: 50px;
  cursor: pointer;
}

.menu img {
  max-width: 100%;
  height: 20px;
  padding-left: 50px;
}

.menuBurger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Commissioner;
  color: rgba(0, 0, 0, 0.75);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  width: 120px;
  height: 170px;
  z-index: 3;
  position: absolute;
  right: 30px;
  top: 112px;
  background: #ffffffa8;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.menuBurger div {
  margin-left: 10px;
  margin-top: 4px;
  cursor: pointer;
}

.burger {
  display: none;
  height: 24px;
  width: 24px;
  margin-right: 40px;
}

@media (max-width: 1164px) {
  .menu div {
    width: 130px;
    padding: 0px 0px;
  }
}

@media (max-width: 1041px) {
  .menu div {
    width: 85px;
    padding: 0px 10px;
  }
}

@media (max-width: 924px) {
  .menu div {
    width: 79px;
    padding: 0px 8px;
  }
  .menu div:nth-child(1) {
    width: 65px;
    padding: 0px 4px;
  }
  .menu div:nth-child(2) {
    width: 65px;
    padding: 0px 4px;
  }
  .menu div:nth-child(3) {
    width: 65px;
    padding: 0px 4px;
  }
  .menu img {
    width: 65px;
    padding: 0px 4px;
  }
}

@media (max-width: 829px) {
  .burger {
    display: block;
  }
  .menu div {
    min-width: 80px;
    padding-left: 18px;
  }
  .boxTwo {
    justify-content: space-around;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 786px) {
  .menu div {
    padding-left: 15px;
  }
  .phoneNumber {
    display: none;
  }
  .view {
    margin-right: 30px;
    margin-left: 30px;
  }
}
