@import url(../../fonts/lato.css);
@import url(../../fonts/stylesheet.css);

.wrapperFooter {
  background: #e5e5e5;
}

.border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 100px 0px 0px 0px;
}

.contentFooter {
  background: #e5e5e5;
  margin: 0 auto;
  max-width: 1170px;
  height: 700px;
  display: flex;
}

.grey {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.grey div {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}

.imgs {
  max-width: 240px;
  margin-top: 61px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.arrow {
  display: flex;
}

.title {
  width: 640px;
  margin-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.city {
  display: flex;
  justify-content: space-between;
}

.time {
  margin-top: 50px;
  margin-left: 20px;
  width: 200px;
}

.bd {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .footerDes {
    display: none;
  }
  .title {
    max-width: 640px;
    width: 200px;
  }
  .contentFooter {
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .footerDes {
  }
  .contentFooter {
    height: 1300px;
  }
  .title {
    max-width: 640px;
  }
  .city {
    flex-direction: column;
    align-items: center;
  }
}

.clWidth230 {
  max-width: 230px;
  margin: 0px 30px 70px 0px;
  font-size: 20px;
}

.clWidth100 {
  max-width: 100px;
}

.clFontSize14 {
  font-size: 14px;
}

.cllineHeight {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
}

.clMargin {
  line-height: 20px;
  font-size: 14px;
  margin: 20px 0px 0px 0px;
}

.clFont {
  margin: 10px 0px 0px 0px;
  font-weight: 500;
  line-height: 20px;
  font-size: 13px;
}

.clEmail {
  font-size: 13px;
  font-weight: 400;
}
